shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
onlyBuiltDependencies[]="@prisma/client"
onlyBuiltDependencies[]="@prisma/engines"
onlyBuiltDependencies[]="prisma"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="sharp"
onlyBuiltDependencies[]="bcrypt"
onlyBuiltDependencies[]="@parcel/watcher"
onlyBuiltDependencies[]="@swc/core"
